<!DOCTYPE HTML>
<html>

<head>
	<title>Patient Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Patient Manager </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/patients">Add Patient</a>
				</li>

				<li class="nav-item">
					<a href="/update" class="nav-link">Update Patient</a>
				</li>
				<li class="nav-item active">
						<a href="/schedule" class="nav-link">Schedule Appointment</a>
					</li>

				<li class="nav-item">
					<a class="nav-link" href="/allpatients">All Patients</a>
				</li>
			</ul>
		</div>
	</nav>
	<br></br>

	<h1> Appointment Information </h1>
	<div class="bg-agile">
		<div class="book-appointment">
			<h2>Make an appointment</h2>
			<form action="#" id="ApptForm" method="post">
				<div class="left-agileits-w3layouts same">
					<div class="gaps">
						<p>Patient ID</p>
						<input id="patientId" type="text" name="Patient Name" placeholder="" required="" />
					</div>
					<div class="gaps">
						<p>Location</p>
						<select id="location" class="form-control" style="height: 35px" ;>
							<option></option>
							<option>Office A</option>
							<option>Office B</option>
							<option>Office C</option>
							<option>Office D</option>
						</select>
					</div>

				</div>

				<div class="right-agileinfo same">
					<div class="gaps">
						<p>Select Date & Time</p>
						<input id="datepicker1" name="Text" type="datetime-local" value="" min="2019-01-29T00:00"
							max="2019-12-31T00:00" required="" style="height: 28px">
						<br>
					</div>

					<div class="gaps">
						<br>
						<p>Physician</p>
						<select id="physician" class="form-control" style="height: 35px">
							<option></option>
							<option>Dr. Oj Rekur</option>
							<option>Dr. John Smith</option>
							<option>Dr. Kenneth Rane</option>
							<option>Dr. Susan Smith</option>
							<option>Dr. Kali Cash</option>
						</select>
					</div>

				</div>
				<div class="clear"></div>
				<input type="submit" value="Schedule appointment">
			</form>
		</div>
	</div>



</body>

<script>

	document.addEventListener("DOMContentLoaded", () => {
		const theForm = document.getElementById("ApptForm");

		theForm.addEventListener("submit", (event) => {
			event.preventDefault();

			let patientId = document.getElementById("patientId").value;
			let location = document.getElementById("location").value;
			let appointmentDate = document.getElementById("datepicker1").value;
			let attendees = document.getElementById("physician").value;

			const token = localStorage.getItem('token');
			const bearer = 'Bearer ' + token

			fetch('http://localhost:3000/api/appointment', {
				method: "post",
				headers: {
					'Authorization': bearer,
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					patientId: patientId,
					location: location,
					appointmentDate: appointmentDate,
					attendees: attendees,
				})
			})
				.then(res => res.json())
				.then(response => {
					console.log("appt added")
				}).catch(error => console.error('Error:', error));
		})
	});


</script>


</html>