<!DOCTYPE html>
<html lang="en">

<head>
	<title>Patient Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Patient Manager </a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="/search">Search</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/patients">Add Patient</a>
				</li>

				<li class="nav-item">
					<a href="/update" class="nav-link">Update Patient</a>
				</li>
				<li class="nav-item">
					<a href="/schedule" class="nav-link">Schedule Appointment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/allpatients">All Patients</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form id="PatientForm" class="contact100-form validate-form" method="POST">
				<span class="contact100-form-title">
					Enter Patient Information
				</span>

				<div class="wrap-input100  bg1">
					<span class="label-input100">FULL NAME *</span>
					<input class="input100" id="name" type="text" name="name" placeholder="Enter Your Name">
				</div>

				<div class="wrap-input100  bg1 rs1-wrap-input100">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" id="email" placeholder="Enter Your Email ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Phone *</span>
					<input class="input100" id="phone" type="text" name="phone" placeholder="Enter Number Phone">
				</div>

				<div class="wrap-input100  bg1">
					<span class="label-input100">Address *</span>
					<input class="input100" id="address" type="text" name="name" placeholder="Enter Your Address">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Medication *</span>
					<input class="input100" type="text" name="email" id="medication"
						placeholder="Enter Your Medication ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Diagnosis *</span>
					<input class="input100" type="text" name="email" id="diagnosis" placeholder="Enter Your Diagnosis">
				</div>

				<div class="wrap-input100 bg0 rs1-alert-validate">
					<span class="label-input100">Additional Information</span>
					<input class="input100" id="additional" name="message" placeholder="Your message here...">
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

</body>
<script>

	document.addEventListener("DOMContentLoaded", () => {
		const theForm = document.getElementById("PatientForm");

		theForm.addEventListener("submit", (event) => {
			let name = document.getElementById("name").value;
			event.preventDefault();

			let email = document.getElementById("email").value;
			let phone = document.getElementById("phone").value;
			let address = document.getElementById("address").value;
			let medication = document.getElementById("medication").value;
			let diagnosis = document.getElementById("diagnosis").value;
			let additionalInfo = document.getElementById("additional").value;

			const token = localStorage.getItem('token');
			const bearer = 'Bearer ' + token

			fetch('http://localhost:3000/api/patient', {
				method: "post",
				headers: {
					'Authorization': bearer,
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					name: name,
					email: email,
					phone: phone,
					address: address,
					medication: medication,
					diagnosis: diagnosis,
					additionalInfo: additionalInfo
				})
			})
				.then(res => res.json())
				.then(response => {
					location.replace("http://localhost:8080/allpatients")
				}).catch(error => console.error('Error:', error));
		})
	});


</script>

</html>