<!DOCTYPE HTML>
<html>

<head>
  <title>Patient Manager</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #eee">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Patient Manager </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients">Add Patient</a>
        </li>
        <li class="nav-item">
          <a href="/schedule" class="nav-link">Schedule Appointment</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/allpatients">All Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="logOut()" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1> Patient Information </h1>
  <br></br>
  <div id="patientInfo" class="container">
    <div id="patient"></div>
  </div>
</body>
<script src="/public/logOut.js"></script>

<script>
  window.addEventListener("load", (req, res) => {
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    fetch('http://localhost:3000/api/patient/', {
      method: "GET",
      headers: {
        'Authorization': bearer,
      }
    })
      .then(res => res.json())
      .then(response => {

        let html = '';

        for (var i = 0; i < response.length; i++) {

          html += ` <div class="card patient-option"  style="width: 18rem;">`
          html += `<div class="card-body">`
          html += `<h5>  Name: ${response[i].name} </h5>`;
          html += `<h6>  Email: ${response[i].email}  </h6>`;
          html += `<h6>  Phone: ${response[i].phone} </h6>`;
          html += `<h6>  Address: ${response[i].address} </h6>`;
          html += `<h6>  Medication: ${response[i].medication} </h6>`;
          html += `<h6>  Diagnosis: ${response[i].diagnosis}  </h6>`;
          html += `<h6>  AdditionalInfo: ${response[i].additionalInfo} </h6>`;
          html += `<br>`
          html += `</br>`
          html += `<center>`
          html += `<div id="searchId">`
          html += `<a  type="submit" href="/update/${response[i]._id}">Edit Record</a>`
          html += `</div>`
          html += `</center>`
          html += `</div>`;
          html += `</div>`;
        }
        const patientContainer = document.getElementById("patient");

        patientContainer.innerHTML = html;

      })
      .catch(error => console.error('Error:', error));

  })
</script>



</html>