<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="home.css">
    <title>Patient Manager</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Patient Manager</h1>
            <h3>Virtual Portal</h3>
        </div>
    </div>
    <form id="searchForm" class="form-wrapper" action="" , method="POST">
        <h3> Search Patients By ID </h3>
        <input type="text" id="search" name="id" value="" placeholder="Search for..." required>
        <input type="submit" value="Submit" id="submit">
    </form>
    <div id="person"></div>
    <table id="table" style="width:100%">
        <tr>
            <th>Patient Name:</th>
            <th>Patient Email:</th>
            <th>Patient Phone:</th>
            <th>Patient Address:</th>
            <th>Patient Medication:</th>
            <th>Patient Diagnosis:</th>
            <th>Patient Additional_Info:</th>
        </tr>
        
    </table>

</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("searchForm");

        theForm.addEventListener("submit", (event) => {
            event.preventDefault();
            let id = document.getElementById("search").value;
            const token = localStorage.getItem('token');
            const bearer = 'Bearer ' + token
            fetch('http://localhost:3000/api/patient/' + id, {
                method: "GET",
                headers: {
                    'Authorization': bearer,
                }
            })
                .then(res => res.json())
                .then(response => {
                    
                    let html = '';
                   
                        html += `<td>${response.name} </td>`;
                        html += `<td> ${response.email} </td>`;
                        html += `<td> ${response.phone} </td>`;
                        html += `<td> ${response.address} </td>`;
                        html += `<td> ${response.medication} </td>`;
                        html += `<td> ${response.diagnosis} </td>`;
                        html += `<td> ${response.additionalInfo} </td>`;
                       
                        const personContainer = document.getElementById("table");

                        personContainer.innerHTML = html;

                })
                .catch(error => console.error('Error:', error));

        })

    })
    
</script>

</html>