<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Manager</title>
</head>

<body>
    <h1>Patient Manger</h1>
    <h3> Please login</h3>
    <form id="LoginForm" class="login" action="" method="POST">
        username: <input type="text" id="username" name='username' value=""><br />
        password: <input type="password" id="password" name='password' value=""><br />
        <input type="submit" value="Submit">
    </form>
</body>

<script>

    //sending username and password to the server and saving toked in local storage; also redirected to another page

    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("LoginForm");

        theForm.addEventListener("submit", (event) => {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            event.preventDefault();
            fetch('http://localhost:3000/api/user/login', {
                method: "post",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
                .then(res => res.json())
                .then(response => {
                    localStorage.setItem('token', response.token);
                    location.replace("http://localhost:8080/search")
                }).catch(error => console.error('Error:', error));
        })
    });

</script>

</html>