<!DOCTYPE html>
<html lang="en">

<head>
    <title>Patient Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="util.css">
    <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body>


    <div class="container-contact100">
        <div class="wrap-contact100">
            <form id="searchForm" class="contact100-form validate-form" action="" method="POST">
                <span class="contact100-form-title">
                    Patient Information
                </span>

                <div class="wrap-input100  bg1">
                    <span class="label-input100">Search for Patients *</span>
                    <input class="input100" id="search" type="text" name="name" placeholder="Enter Patient Name">
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true" ></i>
                        </span>
                    </button>
                </div>
            </form>

        </div>

        <table id="table" style="width:100%">

        </table>
    </div>


</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("searchForm");

        theForm.addEventListener("submit", (event) => {
            event.preventDefault();
            let name = document.getElementById("search").value;
            const token = localStorage.getItem('token');
            const bearer = 'Bearer ' + token
            fetch('http://localhost:3000/api/patient/' + name, {
                method: "GET",
                headers: {
                    'Authorization': bearer,
                }
            })
                .then(res => res.json())
                .then(response => {

                    let html = '';
                    html += `<td>  Name: ${response.name} </td>`;
                    html += `<td>  Email: ${response.email}  </td>`;
                    html += `<td>  Phone: ${response.phone} </td>`;
                    html += `<td>  Address: ${response.address} </td>`;
                    html += `<td>  Medication: ${response.medication} </td>`;
                    html += `<td>  Diagnosis: ${response.diagnosis}  </td>`;
                    html += `<td>  AdditionalInfo: ${response.additionalInfo} </td>`;

                    const personContainer = document.getElementById("table");

                    personContainer.innerHTML = html;

                })
                .catch(error => console.error('Error:', error));

        })

    })

</script>

</html>