body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/197/861/non_2x/clean-medical-and-healthcare-background-with-heart-beat-vector.jpg');
	height: 120%;
	margin-top: -170px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}